<?xml version="1.0" encoding="UTF-8"?>
<configuration >
	<property name="AppName" value="demo" />
	<!-- 控制台日志 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${AppName} %d [%t] %-5p %c:%L - %m%n</pattern>
		</encoder>
	</appender>
	<!-- 错误日志 -->
	<appender name="errorFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>C:/log/error/error</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [ %p ] [ %C{1}.java :(%M)]  %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/log/error/error_%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<!-- 日志过滤器 -->
		<!-- <filter class="ch.qos.logback.classic.filter.LevelFilter"> <level>DEBUG</level> 
			<onMatch>ACCEPT</onMatch> <onMismatch>DENY</onMismatch> </filter> -->
	</appender>
	<!-- 数据库访问较慢的语句 -->
	<appender name="sqlFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>C:/log/sql/slow</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [ %p ] [ %C{1}.java :(%M)] %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>C:/log/sql/slow_%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
	</appender>
	<logger name="com.alibaba.druid.filter.stat.StatFilter" additivity="false" level="DEBUG">
		<appender-ref ref="sqlFile" />
	</logger>
	
	<logger name="org" level="ERROR" />
	
	<root level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="errorFile" />
	</root>
</configuration>